 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      /* background-image: url(https://cdn.pixabay.com/photo/2024/03/13/07/41/digital-marketing-8630397_640.png); */
    }
    header {
    
      /* color: rgb(9, 8, 8); */
      padding: 15px 20px;
      display: flex;

    }
    .head0 {
    
    color: rgb(56, 67, 129);
    padding: 20px;
    text-align: left;
    margin: auto;
 
    }
     .head1 {
          
    color: rgb(9, 8, 8);
    padding: 20px;
    text-align: center;
    margin: auto;
  
    }
    .image {
        width: 150px;
    }
    nav {
      background-color: #88d2f2;
      color: black;
      display: flex;
      justify-content: center;
      /* gap: 20px; */
      padding: 10px;
      text-align: center;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      width: 500px;
    }
    

    .filters {
      display: flex;
      gap: 150px;
      margin: 20px;
      flex-wrap: wrap;
    }
    .filters button {
      padding: 8px 12px;
      border: 1px solid #ccc;
      box-shadow: 10px #ccc;
      background-color: #08b3ec;
      border-radius: 20px;
      /* cursor: pointer; */
    }

    button:hover {
    background-color: #e03e00;
}

    nav a:hover {
      text-decoration: underline;
    }
    
    .mainbody {
         background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230527/pngtree-pink-and-white-shopping-bags-image_2657784.jpg);
        
        background-size: 100%;
        background-color: #08a7ec;
    }

    .container {
      padding: 20px;
      
    }

    .container1 {
      padding: 20px;
      
    }

    .container2 {
      /* padding: 20px; */
      text-align: center;
      display: flex;
      padding: 20px 150px;
      gap: 500px;
      
    }
    .card {
      background: white;
      border-radius: 10px;
      padding: 15px;
      margin: 10px 0;
      box-shadow: 0 0 20px rgba(244, 18, 18, 0.1);
      width: 300px;
      text-align: center;
      
    }
    .complaints {
        box-shadow: #08b3ec;
        border-radius: 20px;
    }

    footer {
      background-color: #2e7d32;
      color: white;
      text-align: center;
      padding: 15px 0;
      margin-top: 30px;
    }
